<%- include('./header.ejs') %>
<!-- news div start -->
     <div class="news">
      <marquee behavior="" direction="" scrollamount="8">
        <span>
          <a href="" class="scroll">
            <b>1.</b>
            Amission Registration 2024-2025
          </a>
        </span>
        <span>
          <a href="" class="scroll">
            <b>2.</b>
            Student Verification
          </a>
        </span>
        <span>
          <a href="" class="scroll">
            <b>3.</b>
             LOAN FACILITY IS AVAILABLE FOR ALL COURSES "Click Here"
          </a>
        </span>
        <span>
          <a href="" class="scroll">
            <b>4.</b>
            Virtual Job Fair
          </a>
        </span>
      </marquee>
     </div>
     <!-- news div end -->

    <!-- banner image start -->
     <div class="container-fluid about">
        
     </div>
    
    <!--container-fluid end-->
    <!-- banner image end -->

    <!-- courses row 1 start -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <h5 class="course">Courses offered by Computer Science and Technology institution(CSTI)</h5>
          <p class="course1">Computer Science and Technology institution Gwalior offers undergraduate and postgraduate courses in the field of Engineering and Architecture, Management, and Business Administration courses. The Maharana Pratap College of Technology Gwalior courses include BE Computer Science and Engineering, BE Mechanical Engineering, BE Civil Engineering, MCA, MBA, BE Electronics and Communication Engineering, and ME Mechanical Engineering, ME Electronics and Communication Engineering. The candidates before applying for any course at MPCT Gwalior must check the Maharana Pratap College of Technology Gwalior eligibility criteria. 

            The Maharana Pratap College of Technology Gwalior courses are offered in full-time mode. The Maharana Pratap College of Technology Gwalior undergraduate course duration is 4 years. The Maharana Pratap College of Technology, Gwalior postgraduate course is offered for 2 years. The Maharana Pratap College of Technology Gwalior fee depends on the course chosen by the candidate. </p>
          </div>
        <div class="col-md-1">

        </div>
      </div><!--row end-->
     </div><!--container-fluid end-->
    <!-- courses row 1 end -->

    <!-- courses row 2 start -->
    <div class="container-fluid">
      <div class="row expimage">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <h5 class="exp">Explore CSTI Gwalior Courses</h5>
          <button class="btn homebut">BCA</button>
          <button class="btn homebut">B.E/B.Tech</button>
          <button class="btn homebut">Engineering and Architecture</button>
           <button class="btn homebut">M.E/M.Tech</button>
           <br>
          <button class="btn homebut">MBA</button>
          <button class="btn homebut">M.C.A</button>
          <button class="btn homebut">Computer Applications and IT</button>
          
          </div>
        <div class="col-md-1">

        </div>
      </div><!--row end-->
     </div><!--container-fluid end-->
    <!-- courses row 2 end -->

    <!-- courses row  start -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <h5 class="mode">mode of admission  <i class="fa-solid fa-graduation-cap cap"></i></h5>
          <hr>
          <p class="exam"><i class="fa-solid fa-star star"></i>One needs to take the JEE(Main) exam.</p>
          <p class="exam"><i class="fa-solid fa-star star"></i>Admission are done on the basis of rank in JEE Main through DTE MP Counselling</p>
          <br>

          <h5 class="mode">affiliation  <i class="fa-solid fa-graduation-cap cap"></i></h5>
          <hr>
          <p class="exam"><i class="fa-solid fa-star star"></i>Affiliated to Rajiv Gandhi Proudyogiki Vishwavidyalaya,Bhopal.</p>
          <br>
          
        </div>
      </div><!--row end-->
    </div> <!--container-fluid end-->
    <!-- courses row  end -->

    <!-- institute row  start -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <h5 class="mode">institute fee Structure</h5>
          <table>
            <thead>
              <tr class="he">
                <th>Particulars</th>
                <th>Amount</th>
              </tr>
              
            </thead>
            <tbody>
              <tr class="data">
                <td>Caution Money(One Time,Refundable)</td>
                <td>Rs. 5,000</td>
              </tr>
              <tr class="data">
                <td>One Time Fees</td>
                <td>Rs. 22,250</td>
              </tr>
              <tr class="data">
                <td>Tution Fees(per semester)</td>
                <td>Rs. 32,500</td>
              </tr>
              <tr class="data">
                <td>Other Fees(per semester)</td>
                <td>Rs. 1,300</td>
              </tr>
              <tr class="data">
                <td>Annual Fees</td>
                <td>Rs. 18,220</td>
              </tr>
              <tr class="data">
                <td>Total</td>
                <td>Rs. 79,270</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div><!--row end-->
    </div> <!--container-fluid end--> <br><br>
    <!-- institute row  end -->

    <!-- hostel row  start -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
          <h5 class="mode">hostel fee Structure</h5>
          <table>
            <thead>
              <tr class="he">
                <th>Particulars</th>
                <th>Amount</th>
              </tr>
              
            </thead>
            <tbody>
              <tr class="data">
                <td>Hostel Caution Money(One Time,Refundable)</td>
                <td>Rs. 6,000</td>
              </tr>
              <tr class="data">
                <td>One Time Fees</td>
                <td>Rs. 10,000</td>
              </tr>
              <tr class="data">
                <td>Hostel Fees(per semester)</td>
                <td>Rs. 18,000</td>
              </tr>
              <tr class="data">
                <td>Mess Advance(per semester)</td>
                <td>Rs. 1,300</td>
              </tr>
              <tr class="data">
                <td>Total</td>
                <td>Rs. 50,000</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div><!--row end-->
    </div> <!--container-fluid end--> <br><br>
    <!-- hostel row  end -->

    <!-- eligibility row start -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-11">
          <h5 class="mode">Course and Fees Structure 2024</h5>
          <table>
            <thead>
              <tr class="he">
                <th>Courses</th>
                <th>Tution Fees</th>
                <th>Eligibility</th>
              </tr>
            </thead>
            <tbody>
              <tr class="data">
                <td>B.E./B.Tech(16 courses)</td>
                <td>2.8L - 3.1L</td>
                <td>10+2: 45% <br> Exams:AP EAMCET</td>
              </tr>
              <tr class="data">
                <td>B.C.A. <br>(1 courses)</td>
                <td>2.8L</td>
                <td>10+2: 45%</td>
              </tr>
              <tr class="data">
                <td>M.C.A. <br>(1 courses)</td>
                <td>1.1L</td>
                <td>Graduation:50% <br> Exams:APICET</td>
              </tr>
              <tr class="data">
                <td>M.B.A. <br>(1 courses)</td>
                <td>2.8L - 3.1L</td>
                <td>Graduation:50% <br> Exams:APICET</td>
              </tr>
              <tr class="data">
                <td>M.E./M.Tech <br>(6 courses)</td>
                <td>86K - 1.6L</td>
                <td>Graduation:50% <br> Exams:GATE,AP PGECET</td>
              </tr>
              <tr class="data">
                <td>B.S.C.</td>
                <td>85K</td>
                <td>10+2: 45%</td>
              </tr>
            </tbody>
          </table><!--table end-->
        </div>
      </div><!--row end-->
     </div><!--container-fluid end--> <br><br>
    <!-- eligibility row start -->

<%- include('./footer.ejs') %>