 <!-- footer start -->
     <footer>
      <div class="footer-content">
        <h5 class="fhead">About CSTI</h5>
        <li class="ftext"><a href="">Future and current students</a></li>
        <li class="ftext"><a href="">Academic programs</a></li>
        <li class="ftext"><a href="">Research</a></li>
      </div>
      <div class="footer-content">
        <h5 class="fhead">Library</h5>
        <li class="ftext"><a href="">Recreation</a></li>
        <li class="ftext"><a href="">Varsity Sports</a></li>
        <li class="ftext"><a href="">Alumini & Friends</a></li>
      </div>
      <div class="footer-content">
        <h5 class="fhead">Resources for Current Student</h5>
        <li class="ftext"><a href="">Resources for Faculty & Staff</a></li>
        <li class="ftext"><a href="">Bookstore</a></li>
        <li class="ftext"><a href="">Campus Map</a></li>
      </div>
      <div class="footer-content">
        <h5 class="fhead">Careers@CSTI</h5>
        <li class="ftext"><a href="">Communication</a></li>
        <li class="ftext"><a href="">Give Now</a></li>
        <li class="ftext"><a href="">Disclaimer</a></li>
      </div>
    </footer>
    <!-- footer end -->

    <!-- footer last start -->
    <div class="container-fluid flast">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p class="adm">
            Admission Portal Copyright © 2024. All rights reserved.
          </p>
        </div>
        <div class="col-md-2"></div>
      </div>
      <!-- row end -->
    </div>
    <!-- container-fluid end -->
    <!-- footer last end -->
  </body>
</html>